body {
  background-color: #f1f5f8 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
 display: flex;
 flex-direction: column;
 justify-content: center;
 width: 100%;
 height: 100%;
 background-color: #fff;
}

.hvr-gray:hover{
  background-color: #f1f5f8;
  color:#617d98
}